/* Style the form container */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, sans-serif;
  }
  
  /* Style the form headings */
  h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Style the form fields */
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
  }
  
  input[type="submit"] {
    display: block;
    margin-top: 20px;
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  body{
    background-image: url(images/Picture5.jpg);
  }